
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iAWriterDuospace-Regular.otf");
}
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iawriterduospace-bold-webfont.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iAWriterDuospace-RegularItalic.otf");
    font-style: italic;
}
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iAWriterDuospace-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iAWriterDuospace-RegularItalic.otf");
    font-style: oblique;
}
@font-face {
    font-family: "iA Writer Duospace";
    src: url("fonts/iAWriterDuospace-BoldItalic.otf");
    font-weight: bold;
    font-style: oblique;
}

body {
    font-family: 'iA Writer Duospace', 'Courier New', Courier, monospace;
    background-color: rgb(250, 250, 250);
    height: 95%;
}

html {
    height: 100%;
}

a {
    color: #222222;
    text-decoration: none;
}

a:not(.disabled):hover {
    color: #c41414
}

a.disabled {
    color: #888888;
    pointer-events: none;
    cursor: default;
}

input, button {
    border: none;
    border-bottom: 2px solid #222222;
    background-color: rgb(250, 250, 250);
    color: #222222;
    outline: none;
    font-family : inherit;
    font-size   : 100%;
}

input[type=button], input[type=submit], input[type=reset], button {
    background-color: #222222;
    color: rgb(250, 250, 250);
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color: #555555;
}

input[type=checkbox] {
    visibility: hidden;
}

input[type=checkbox] + label:hover {
    background: #555555;
}

input[type=checkbox]:checked + label:after {
    opacity: 1;
}

input[type=checkbox] + label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #222222;
    position: absolute;
    left: 0;
}

input[type=checkbox] + label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.sidepanel {
    position: fixed;
    height: 70%;
    width: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 60px;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 0px;
    border-right: 1px solid #222222;
    transition: width 1s;
}

#sidePanelNav {
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#sidePanelNav li {
    list-style: none;
    margin-top: 30px;
}

.sidepanel:hover {
    width: 120px;
}

.sidepanel:hover #sidePanelNav {
    visibility: visible;
    opacity: 1;
}

#readingCanvas {
    left: 150px;
    top: 60px;
    height: 80vh;
    width: 50%;
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
}

.story {
    font-size: 1.25em;
}

::selection {
    background: #222222;
    color: rgb(250, 250, 250);
}

::-moz-selection {
    background: #222222;
    color: rgb(250, 250, 250);
}

body:-webkit-full-screen {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
  }

body:-moz-full-screen {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
  }

body:-ms-fullscreen {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
  }

body:fullscreen {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
  }

#rightPanel {
    position: fixed;
    right: 0;
    top: 60px;
    height: 70%;
    width: 25%;
    padding-right: 15px;
    padding-left: 0px;
}

#rightPanel input {
    width: 95%;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 150px;
    height: 60px;
    width: 800px;
}

.problem {
    color: #c41414;
}

.goAway {
    opacity: 0;
    animation: take-me-away 5s;
}

@keyframes take-me-away {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#postNav {
    position: fixed;
    bottom: 60px;
    width: 100%;
}

#nextArrow {
    position: absolute;
    left: 20%;
    font-size: 300%;
}

#prevArrow {
    font-size: 300%;
    position: relative;
    left: 3%;
}

#postEditor {
    display: inline-block;
}

.ui-autocomplete {
    font-family: 'iA Writer Duospace', 'Courier New', Courier, monospace;
    background-color: rgb(250, 250, 250);
    color: #222222;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #222222;
    color: rgb(250, 250, 250);
    border-style: none;
}

#postLinks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.postLink {
    width: 130px;
    height: 130px;
    margin: 30px;
}