{% extends "base.html" %}

{% block scripts %}
{#    <script src="{{ url_for('static', filename='post.js') }}"></script>#}
{% endblock %}

{% block topofpage %}
{% endblock %}

{% block content %}
    <div id="postLinks">
    {% for work in works %}
        <div id="post{{ work.id }}" class="postLink"><a href="{{ url_for('post', post_id=work.id) }}">{{ work.title_short }}</a></div>
    {% endfor %}
    </div>
{% endblock %}

{%  block rightPanelContent %}
    <h2>{{ author.display_name }} ({{ author.birth_year or ''}} - {{ author.death_year or ''}})</h2>
    <h3>{{ author.country.name or ''}}</h3>
    <h3>language</h3>
    <ul>
    {% for lang in languages %}
        <li>{{ lang.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block bottomofpage %}
{% endblock %}