{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='author_edit.js') }}"></script>
{% endblock %}

{% block topofpage %}
    <form id="authorForm" action="" method="post" autocomplete="off" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
{% endblock %}

{% block content %}
    <div class="mainFormArea">
        <p>
            {{ form.display_name.label }}<br>
            {{ form.display_name(size=40, maxlength=256) }}
            {% for error in form.display_name.errors %}
                <span class="problem">{{ error }}</span>
            {% endfor %}
        </p>
        <div class="rowOfFields">
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=20, maxlength=50) }}
                {% for error in form.first_name.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.last_name.label }}<br>
                {{ form.last_name(size=20, maxlength=50) }}
                {% for error in form.last_name.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.middle_name.label }}<br>
                {{ form.middle_name(size=20, maxlength=50) }}
                {% for error in form.middle_name.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="rowOfFields">
            <p>
                {{ form.birth_year.label }}<br>
                {{ form.birth_year(size=20) }}
                {% for error in form.birth_year.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.death_year.label }}<br>
                {{ form.death_year(size=20) }}
                {% for error in form.death_year.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="rowOfFields">
            <p>
                {{ form.nasod.label }}<br>
                {{ form.nasod(size=30, maxlength=80, autocomplete='nope') }}
                {% for error in form.nasod.errors %}
                    <span class="problem">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
    {#    <p>#}
    {#        {{ form.languages.label }}<br>#}
    {#        {{ form.languages() }}#}
    {#        {% for error in form.languages.errors %}#}
    {#            <span class="problem">{{ error }}</span>#}
    {#        {% endfor %}#}
    {#    </p>#}
        <div class="buttonFields">
            <p>
                {{ form.submit }}
                {% if author.id %}
                    <a href="{{ url_for('author', author_id=author.id) }}">
                {% else %}
                    <a href="{{ url_for('home') }}">
                {% endif %}
                    <button id="cancel" type="button">cancel</button>
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{%  block rightPanelContent %}

    <div class="photoContainer">
        <label for="photo">
            <img id="authorPhoto" src="{{ url_for('author_photo', author_id=author.id) }}?{{ author.modify_timestamp }}">
            <div class="overlay">
                <div class="overlayText">upload photo</div>
            </div>
        </label>
    </div>

    {{ form.photo(style='display: none;', accept='.gif,.jpg,.jpeg,.png') }}

    <div class="errorList">
        {% for error in form.photo.errors %}
            <span class="problem">{{ error }}</span>
        {% endfor %}
    </div>

{% endblock %}

{% block bottomofpage %}
    </form>
{% endblock %}