{% extends "base.html" %}

{% block scripts %}
{#    <script src="{{ url_for('static', filename='post.js') }}"></script>#}
{% endblock %}

{% block topofpage %}
{% endblock %}

{% block content %}
    <div id="postLinks">
    {% for work in works %}
        <a href="{{ url_for('post', post_id=work.id) }}" class="postLink"><div id="post{{ work.id }}">{{ work.title_short }}</div></a>
    {% endfor %}
    </div>
{% endblock %}

{%  block rightPanelContent %}
    <h2 style="display: inline">{{ author.display_name }} ({{ author.birth_year or ''}} - {{ author.death_year or ''}})</h2>
    {% if current_user.is_authenticated %}
        <a id="editAuthorLink" href="{{ url_for('edit_author', author_id=author.id) }}">(edit)</a>
    {% endif %}
    <h3>{{ author.country.name or ''}}</h3>
    <img class="authorPhoto" src="{{ url_for('author_photo', author_id=author.id) }}">
{% endblock %}

{% block bottomofpage %}
{% endblock %}