{% extends "base.html" %}

{% block scripts %}
    <script>
        var postId = {{ post.id }}
    </script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}

{% block content %}
    <pre class="story"><span id="post" class="poem">{{ post.body }}</span></pre>
{% endblock %}

{%  block rightPanelContent %}
    <div id="postInfo" class="postInfo">
    <h2 class="postTitle">{{ post.title }}</h2>
    <h3 class="postAuthor">{{ author.display_name }}</h3>
    <h3 class="postDateWritten">{{ post.date_written }}</h3>
    <span class="createdBy">posted by {{ poster.username }} on {{ post.timestamp }}</span>
    </div>
    <div id="postNav">
      <a id="prevArrow" href="javascript:prevPost()">&larr;</a>
      <a id="nextArrow" href="javascript:nextPost()">&rarr;</a>
    </div>
{% endblock %}
