{% extends "base.html" %}

{% block scripts %}
    <script>
        var postId = {{ post.id }}
    </script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}

{% block content %}
    <pre class="story"><span id="post" class="poem">{{ post.body|safe }}
{% endblock %}

{%  block rightPanelContent %}
    <div id="postInfo" class="postInfo">
    <h2 class="postTitle" style="display: inline;">{{ post.title }}</h2>
    {% if current_user.is_authenticated %}
        <a id="editPostLink" href="{{ url_for('edit_post', post_id=post.id) }}">(edit)</a>
    {% endif %}
    <h3 class="postAuthor"><a href="{{ url_for('author', author_id=author.id) }}">{{ author.display_name }}</a></h3>
    {% if post.date_written %}
        <h3 class="postDateWritten">{{ post.date_written }} - {{ post.language.name }}</h3>
    {% else %}
        <h3 class="postDateWritten">{{ post.language.name }}</h3>
    {% endif %}
    <span class="createdBy">posted by {{ poster.username }} on {{ post.timestamp|date }}</span>
    </div>
    <div id="postNav">
        {% if prev_id %}
            <a id="prevArrow" href="javascript:prevPost()">&larr;</a>
        {% else %}
            <a id="prevArrow" class="disabled">&larr;</a>
        {% endif %}
        {% if next_id %}
            <a id="nextArrow" href="javascript:nextPost()">&rarr;</a>
        {% else %}
            <a id="nextArrow" class="disabled">&rarr;</a>
        {% endif %}
    </div>
{% endblock %}
