{% extends "base.html" %}

{% block scripts %}
    <script>
        var postId = {{ post.id }}
    </script>
    <script src="{{ url_for('static', filename='post.js') }}"></script>
{% endblock %}

{% block topofpage %}
    <form id="postForm" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.body() }}
{% endblock %}

{% block content %}
    <pre class="story"><span id="post" class="poem"><div id="postEditor" class="editor" contenteditable>{{ post.body|safe }}</div></span></pre>
{% endblock %}

{%  block rightPanelContent %}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(maxlength=256) }}
        {%  for error in form.title.errors %}
            <span class=".problem">{{ error }}</span>
        {% endfor %}
    </p>
    <h3 class="postAuthor">{{ author.display_name }}</h3>
    <p>
        {{ form.date_written.label }}<br>
        {{ form.date_written(maxlength=256) }}
        {% for error in form.date_written.errors %}
            <span class=".problem">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {% for error in form.body.errors %}
            <span class=".problem">Invalid post content: {{ error }}</span>
        {% endfor %}
    </p>
    <span class="createdBy">posted by {{ poster.username }} on {{ post.timestamp|date }}</span>
    <p>
        <input id="submit" name="submit" type="submit" value="save" onclick="submitForm()">
    </p>
{% endblock %}

{% block bottomofpage %}
    </form>
{% endblock %}