<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sa Ikaw Pay Bulak</title>
</head>
<body>
<div id="bilingual">
  <div class="poem">
    <p><span id="001a">Sa Ikaw</span> <span id="002a">Pay</span> <span id="003a">Bulak</span></p>
    <p class="author"><span id="000a"><i>by Marciano Penaranda</i></span></p>
    <br />
    <p><span id="004a">Di kahibudngan</span> <span id="005a">nga kitay</span> <span id="006a">magsabut</span></p>
    <p><span id="007a">Gahapon pa</span> <span id="008a">ug karon</span> <span id="009a">ug sa umalabut</span></p>
    <p><span id="010a">Sa kidlap</span> <span id="011a">sa bitoon</span></p>
    <p><span id="012a">Ikaw</span> <span id="013a">ang akong</span> <span id="014a">duawon</span> <span id="015a">sa kanunay;</span></p>
    <p><span id="016a">Kanunay</span> <span id="017a">ko</span> <span id="018a">tagoon</span></p>
    <p><span id="019a">Kaamyon</span> <span id="020a">nimo</span> <span id="021a">igaloon,</span></p>
    <p><span id="022a">Ug</span> <span id="023a">sa</span> <span id="024a">lubus</span> <span id="025a">kahidlaw</span> <span id="026a">ko</span> <span id="027a">gitiunay</span></p>
    <p><span id="028a">Ang bulung</span> <span id="029a">sa nagtahan kon</span> <span id="030a">kalibug</span></p>
    <p><span id="031a">Sa ikaw</span> <span id="032a">pay</span> <span id="033a">bulak</span> <span id="034a">ug</span> <span id="035a">ako pay</span> <span id="036a">kaibug.</span></p>
    <br />

    <p><span id="037a">Oh,</span> <span id="038a">sa buwan</span> <span id="039a">gilukut</span> <span id="040a">sugilanon</span></p>
    <p><span id="041a">Gilakdan</span> <span id="042a">sa</span> <span id="043a">mga adlwang</span> <span id="044a">bulawanon;</span></p>
    <p><span id="045a">Unya</span> <span id="046a">kining</span> <span id="047a">tinoohan</span></p>
    <p><span id="048a">Mituybo</span> <span id="049a">sa katam-is</span> <span id="050a">sa imong</span> <span id="051a">puangud,</span></p>
    <p><span id="052a">Putung</span> <span id="053a">kapangakohan,</span></p>
    <p><span id="054a">Butah</span> <span id="055a">sa kabag-ohan,</span></p>
    <p><span id="056a">Kay</span> <span id="057a">nagatipig</span> <span id="058a">sa maanindut</span> <span id="059a">sangud,</span></p>
    <p><span id="060a">Kadtong</span> <span id="061a">panumpa</span> <span id="062a">nga wala ko</span> <span id="063a">isibog</span></p>
    <p><span id="064a">Bisag</span> <span id="065a">di na ikaw</span> <span id="066a">bulak,</span> <span id="067a">wa nay</span> <span id="068a">kaibug!</span></p>
    <br />

    <p><span id="069a">Karon</span> <span id="070a">nga nia dinhi</span> <span id="071a">nagaatbangay</span></p>
    <p><span id="072a">Sa tutok</span> <span id="073a">lolot</span> <span id="074a">pa kita naglangay</span></p>
    <p><span id="075a">Mahimo atong</span> <span id="076a">bakwion</span></p>
    <p><span id="077a">Kadtong</span> <span id="078a">sa adlaw</span> <span id="079a">ug buwan</span> <span id="080a">gilakaran;</span></p>
    <p><span id="081a">Mahimo atong</span> <span id="082a">tition</span></p>
    <p><span id="083a">Dinhi</span> <span id="084a">ning kagabhion</span></p>
    <p><span id="085a">Unsay</span> <span id="086a">ania pang salin</span> <span id="087a">palaran</span></p>
    <p><span id="088a">Sa bulung</span> <span id="089a">sa nagtahan kon</span> <span id="090a">kalibug</span></p>
    <p><span id="091a">Sa ikaw</span> <span id="092a">pay</span> <span id="093a">bulak</span> <span id="094a">ug</span> <span id="095a">ako pay</span> <span id="096a">kaibug!</span></p>
    <br />

  </div>

  <div class="translation">
    <p><span id="001b">When You</span> <span id="002b">Were Still the</span> <span id="003b">Flower</span></p>
    <p class="author"><span id="000b"><i>trans. Vicente Bandillo</i></span></p>
    <br />
    <p><span id="004b">It is no surprise</span> <span id="005b">that you and I</span> <span id="006b">agree</span></p>
    <p><span id="007b">Yesterday,</span> <span id="008b">today,</span> <span id="009b">and tomorrow</span></p>
    <p><span id="010b">By the sparkle</span> <span id="011b">of a star</span></p>
    <p><span id="013b">I</span> <span id="014b">would visit</span> <span id="012b">you</span> <span id="015b">always;</span></p>
    <p><span id="016b">Always</span> <span id="017b">I</span> <span id="018b">would hide</span></p>
    <p><span id="020b">Your</span> <span id="019b">fragrance</span> <span id="021b">that I sleep with,</span></p>
    <p><span id="022b">And</span> <span id="023b">in</span> <span id="026b">my</span> <span id="024b">pure</span> <span id="025b">yearning</span> <span id="027b">is kept</span></p>
    <p><span id="028b">The balm</span> <span id="029b">for my deepening</span> <span id="030b">distraction</span></p>
    <p><span id="031b">When you</span> <span id="032b">were still the</span> <span id="033b">flower</span> <span id="034b">and</span> <span id="035b">I</span> <span id="036b">desire.</span></p>
    <br />

    <p><span id="037b">Oh,</span> <span id="040b">a story</span> <span id="039b">is enfolded</span> <span id="038b">in the moon</span></p>
    <p><span id="041b">Caught asleep</span> <span id="042b">by</span> <span id="044b">golden</span> <span id="043b">suns;</span></p>
    <p><span id="045b">And</span> <span id="046b">this</span> <span id="047b">faith</span> <span id="048b">grows</span></p>
    <p><span id="049b">From the sweetness</span> <span id="050b">of your</span> <span id="051b">mercy,</span></p>
    <p><span id="052b">Unswerving</span> <span id="053b">duty</span></p>
    <p><span id="054b">Blind</span> <span id="055b">to changes</span></p>
    <p><span id="056b">Because</span> <span id="057b">it keeps</span> <span id="058b">a pleasant</span> <span id="059b">code:</span></p>
    <p><span id="060b">That</span> <span id="061b">vow</span> <span id="062b">I did not</span> <span id="063b">take back</span></p>
    <p><span id="064b">Though</span> <span id="065b">you were no longer</span> <span id="066b">the flower,</span> <span id="067b">no more</span> <span id="068b">desire!</span></p>
    <br />

    <p><span id="069b">Now</span> <span id="070b">that here we sit,</span> <span id="074b">delaying,</span></p>
    <p><span id="073b">Gently</span> <span id="072b">looking</span> <span id="071b">into each other's eyes,</span></p>
    <p><span id="075b">We can</span> <span id="076b">claim again</span></p>
    <p><span id="077b">What</span> <span id="078b">sun</span> <span id="079b">and moon</span> <span id="080b">have passed over;</span></p>
    <p><span id="081b">We can</span> <span id="082b">drink to the last drop</span></p>
    <p><span id="083b">Here</span> <span id="084b">in the night</span></p>
    <p><span id="085b">What</span> <span id="087b">in good fortune</span> <span id="086b">is left</span></p>
    <p><span id="088b">Of the balm</span> <span id="089b">for my deepening</span> <span id="090b">distraction</span></p>
    <p><span id="091b">When you</span> <span id="092b">were still the</span> <span id="093b">flower</span> <span id="094b">and</span> <span id="095b">I</span> <span id="096b">desire!</span></p>
    <br />

  </div>

</div>

</body>
</html>